<div class="wrapper">
    <div class="container main" id="valores">
        <div class="row">
            <div class="col-md-12">
                <div class="center gap fade-down section-heading no-display animated fadeInDown appear">
                    <h2 class="main-title">Valores</h2>
                </div>
            </div>

        </div>
        <div class="sectionContent">
         <div>
            <h2>
                <strong>Nuestros Valores</strong></h2>
        </div>
        <p>
            <strong>Calidad<br>
            </strong>Preocupación permanente por nuestros estándares internos.</p>
        <p>
            <strong>Confiabilidad</strong><br>
            Nos preocupamos por cumplir los plazos comprometidos en sus envíos.</p>
        <p>
            <strong>Integridad<br>
            </strong>Contamos con profesionales responsables, comprometidos y honestos en los trabajos que
            emprendemos.</p>
        <p>
            <strong>Compromiso<br>
            </strong>Orientados a ser la mejor empresa de distribución de todo el territorio nacional.</p>
        <p>
            <strong>Excelencia<br>
            </strong>En servicio, en calidad, en respeto por el medio ambiente, con nuestros clientes internos y
            externos.</p>
    </div>
</div>
</div>