<div class="container main" id="servicios">
        <div class="row">
          <div class="col-md-12">
            <div class="center gap fade-down section-heading no-display animated fadeInDown appear">
              <h2 class="main-title">Servicios</h2>
              <hr>
              <p>Otorgamos un servicio puerta a puerta para distribuir tus productos, ya sean valijas, sobres o encomiendas a más de 300 ciudades a lo largo de Chile de forma ágil y segura.</p>
            </div>
          </div>
        </div>
      <div class="row">
          <div class="col-md-3">
            <div (click)="navigateTo('/servicios/envios');" class="tile-progress tile-red bounce-in no-display animated bounceIn appear">
              <div class="tile-header" style="display: block; height: 417px;">
                <h4><a>Envíos Nacionales</a></h4>
                <img src="http://www.bluex.cl/image/journal/article?img_id=249368&amp;t=1535462346544">
                <span style="text-align: justify;">Transporte y envíos de sobres, valijas y encomiendas a más de 300 ciudades en Chile, con Seguimiento en Línea.</span>
              </div>
              <div class="tile-progressbar">
                <span data-fill="300" style="width: 65.5%;"></span>
              </div>
              <div class="tile-footer">
                <h4>
                  <span class="pct-counter counter">300</span>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div (click)="navigateTo('/servicios/oficinas');" class="tile-progress tile-cyan bounce-in no-display animated bounceIn appear">
              <div class="tile-header" style="display: block; height: 417px;">
                <h4><a>Oficinas Comerciales</a></h4>
                <img src="http://www.bluex.cl/image/journal/article?img_id=162487&amp;t=1468878539541">
                <span>Transporte de envíos a través de nuestras sucursales en todo Chile.</span>
              </div>
              <div class="tile-progressbar">
                <span data-fill="24" style="width: 98.5%;"></span>
              </div>
              <div class="tile-footer">
                <h4>
                  <span class="pct-counter counter">24</span>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="courier">
            <div (click)="navigateTo('/servicios/courier');" class="tile-progress tile-primary bounce-in no-display animated bounceIn appear">
              <div class="tile-header" style="display: block; height: 417px;">
                <h4><a>Courier Internacional</a></h4>
                <img src="http://www.bluex.cl/image/journal/article?img_id=162490&amp;t=1468878559290">
                <span>Nuestra red de distribución internacional contempla el transporte de sobres y paquetes con cobertura a 220 países.</span>
              </div>
              <div class="tile-progressbar">
                <span data-fill="220" style="width: 10%;"></span>
              </div>
              <div class="tile-footer">
                <h4>
                  <span class="pct-counter counter">220</span>
                </h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div (click)="navigateTo('/servicios/almacenaje');" class="tile-progress tile-pink bounce-in no-display animated bounceIn appear">
              <div class="tile-header" style="display: block; height: 417px;">
                <h4><a>Almacenaje y Lógistica</a></h4>
                <img src="http://www.bluex.cl/image/journal/article?img_id=162493&amp;t=1468878579153">
                <span>Servicio de administración de inventario, mecanizado y distribución.</span>
              </div>
              <div class="tile-progressbar">
                <span data-fill="10%" style="width: 10%;"></span>
              </div>
              <div class="tile-footer">
                <h4>
                  <span class="pct-counter counter">10</span>
                </h4>
              </div>
            </div>
          </div>
        </div>
</div>