<div class="container main" id="nosotros">
  <div class="row">
    <div class="col-md-12">
      <div class="center gap fade-down section-heading no-display animated fadeInDown appear">
        <h2 class="main-title">Acerca de Nosotros</h2>
        <p style="color: #409ad5;">Reseña Historica</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 fade-up no-display animated fadeInUp appear">
      <p>Lan Airlines creó en 1996 su filial Lan Courier, empresa que se inició como courier a nivel local y que ya en
        el segundo trimestre de 1998 extendió sus servicios a los de operación logística especializándose en
        distribución, con una red de oficinas, bodegas, camiones y camionetas a lo largo de todo Chile.
        En el año 2001, Lan Courier inicia operaciones de almacenaje y administración de inventarios inaugurando un
        Centro de Distribución de 5.500 m2 de superficie, con los más altos estándares de seguridad y tecnología.</p>
      <hr>
      <h4 style="color: #409ad5;">Misión y Visión</h4>
      <p>Nuestra Misión es proveer soluciones innovadoras, que aporten competitividad al negocio de nuestros clientes,
        sustentados en procesos flexibles y eficientes, tecnología de información oportuna y un equipo humano altamente
        preparado.
        Nuestra Visión, queremos ser la mejor empresa de soluciones de distribución logística en Chile, en venta,
        cobertura, volumen, en calidad de servicio y eficiencia. Para seguir creciendo, queremos desarrollar nuestra
        propia identidad, que refleje nuestro espíritu, nuestros valores y nuestro desafío..</p>
    </div>

  </div>

  <div class="row fade-up no-display animated fadeInUp appear">
      <div class="col-md-6">
        <div class="tile-progress tile-red bounce-in no-display animated bounceIn appear" style="height: 160px!important;">
          <div class="tile-header" style="display: block; min-height: 194px;">
            <h4 style="color: #409ad5;"><a href="" [routerLink]="[ '/nosotros/valores' ]">Valores</a></h4>
            <img src="http://www.bluex.cl/image/journal/article?img_id=249368&amp;t=1535462346544" height="100px;">
            <span style="text-align: justify;">Calidad, Confiabilidad, Integridad...</span>
          </div>
        </div>
      
        <div class="tile-progress tile-red bounce-in no-display animated bounceIn appear" style="height: 160px!important;">
          <div class="tile-header" style="display: block; height: 220px;">
            <h4 style="color: #409ad5;"><a href="" [routerLink]="[ '/nosotros/tecnologia' ]">Nuestra Tecnología</a></h4>
            <img src="http://www.bluex.cl/image/journal/article?img_id=249368&amp;t=1535462346544" height="100px;">
            <span style="text-align: justify;">Nuestra tecnología está en constante...</span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tile-progress tile-red bounce-in no-display animated bounceIn appear" style="height: 160px!important;">
          <div class="tile-header" style="display: block; min-height: 194px;">
            <h4 style="color: #409ad5;"><a href="" [routerLink]="[ '/nosotros/integracion' ]">Integración Web Services</a></h4>
            <img src="http://www.bluex.cl/image/journal/article?img_id=249368&amp;t=1535462346544" height="100px;">
            <span style="text-align: justify;">Blue Express tiene disponible para...</span>
          </div>						
        </div>
        <div class="tile-progress tile-red bounce-in no-display animated bounceIn appear" style="height: 160px!important;">
          <div class="tile-header" style="display: block; height: 220px;">
            <h4 style="color: #409ad5;"><a href="" [routerLink]="[ '/nosotros/politica' ]">Política Integrada</a></h4>
            <img src="http://www.bluex.cl/image/journal/article?img_id=249368&amp;t=1535462346544" height="100px;">
            <span style="text-align: justify;">Empresa Blue Express, es una empres...</span>
          </div>						
        </div>
      </div>
    </div>

</div>