<div class="row menu">
    <div class="col-md-12">
        <ul class="list-group">
                <a class="list-group-item list-group-item-action" (click)="contactTo('ejecutivos')">Solicitud de Ejecutivo</a>
                <a class="list-group-item list-group-item-action" (click)="contactTo('servicio')">Inquietudes por Servicio</a>
                <a class="list-group-item list-group-item-action" (click)="contactTo('cobertura')">Consulta de Cobertura</a>
                <a class="list-group-item list-group-item-action" (click)="contactTo('materiales')">Solicitud de Materiales</a>
                <a class="list-group-item list-group-item-action" (click)="contactTo('trabaje')">Trabaje en Blu Express</a>
        </ul>
        <!-- <ul>
            <li>
                <a (click)="contactTo('ejecutivos')">Solicitud de Ejecutivo</a>
            </li>
            <li>
                <a (click)="contactTo('servicio')">servicio</a>
            </li>
            <li>
                <a (click)="contactTo('cobertura')">Consulta de Cobertura</a>
            </li>
            <li>
                <a (click)="contactTo('materiales')">Solicitud de Materiales</a>
            </li>
            <li>
                <a (click)="contactTo('trabaje')">trabaje</a>
            </li>
        </ul> -->
    </div>