<div class="wrapper">
    <div class="container main" id="valores">
        <div class="row">
            <div class="col-md-12">
                <div class="center gap fade-down section-heading no-display animated fadeInDown appear">
                    <h2 class="main-title">Integración Web Services</h2>
                </div>
            </div>

        </div>
        <div class="sectionContent">
            <div class="journal-content-article" id="article_10154_160123_161103_1.0">
                <h2 style="text-align: justify;">
                    Servicios de Integración Blue Express</h2>
                <p style="text-align: justify;">
                    Blue Express tiene disponible para sus clientes servicios de integración mediante tecnología SOA
                    (Arquitectura Orientada a Servicios).</p>
                <h3 style="text-align: justify;">
                    ¿Qué es un Web Services?</h3>
                <div>
                    <p style="text-align: justify;">
                        Es una tecnología estandarizada que nos permite intercambiar datos entre distintas aplicaciones
                        que pueden estar desarrolladas en lenguajes de programación diferentes.</p>
                    <h3 style="text-align: justify;">
                        Ventajas de un Web Services</h3>
                    <p style="text-align: justify;">
                        Principalmente nos aporta interoperabilidad entre aplicaciones&nbsp; independiente de la
                        plataforma sobre las que se instalen.</p>
                    <h3 style="text-align: justify;">
                        Disponibilidad</h3>
                    <p style="text-align: justify;">
                        Los servicios se encuentran disponible 7x24&nbsp; siendo monitoreados por el área de IT de Blue
                        Express.</p>
                    <h3 style="text-align: justify;">
                        Requisitos Cliente</h3>
                    <ol>
                        <li style="text-align: justify;">
                            <span style="line-height: 1.4;">Entregar IP / HOST desde donde se realizaran las
                                integraciones para agregar estos datos a la lista blanca de accesos al Web
                                Services.</span></li>
                        <li style="text-align: justify;">
                            Poseer una cuenta corriente vigente con Blue Express.</li>
                        <li style="text-align: justify;">
                            Poseer un sistema que permita realizar integraciones con tecnología SOA (Arquitectura
                            Orientada a Servicios) o desarrollos internos realizados en Java, Visual Estudio, PHP,
                            Phyton o cualquier otro lenguaje que permita programación orientada a objetos/aspectos.</li>
                    </ol>
                    <h3 style="text-align: justify;">
                        Soluciones Disponibles de Integración</h3>
                    <div style="text-align: justify;">
                        &nbsp;</div>
                    <div style="text-align: justify;">
                        <img alt=""
                            src="/documents/160123/160261/integracion.jpg/d9951318-62f2-4145-ae84-d3309d359e9e?t=1468266164233?t=1468262564233"
                            style="width: 100%; height: 100%;"></div>
                    <div style="text-align: justify;">
                        &nbsp;</div>
                    <div style="text-align: justify;">
                        Para más información, favor contacte a su ejecutivo(a) comercial.</div>
                </div>
            </div>
        </div>
    </div>
</div>