<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand">
    <img src="./../assets/img/logo_blue.png" alt="Bluexpress" class="logo">
  </a>
  <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse justify-content-between">
    <ul class="navbar-nav justify-content-end nav">
      <li></li>
    </ul>
    <ul class="navbar-nav justify-content-end nav">
      <li class="nav-item">
        <a class="nav-link" (click)="scrollToTop('#seguimiento')">Seguimiento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollToTop('#sucursales')">Sucursales <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollToTop('#servicios')">Servicios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollToTop('#info')">Informacion Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollToTop('#nosotros')">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollToTop('#contacto')">Contactenos</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <router-outlet></router-outlet> -->

<app-seguimiento></app-seguimiento>
<div class="wrapper">
  <app-sucursales></app-sucursales>
  <app-servicios></app-servicios>
  <app-info></app-info>
  <app-nosotros></app-nosotros>
  <app-contacto></app-contacto>
</div>