<div class="wrapper">
    <div class="container main" id="valores">
        <div class="row">
            <div class="col-md-12">
                <div class="center gap fade-down section-heading no-display animated fadeInDown appear">
                    <h2 class="main-title">Política Integrada</h2>
                </div>
            </div>

        </div>
        <div class="sectionContent">
            <div>
                <div>
                    <strong>"Empresa Blue Express, es una empresa dedicada a dar soluciones de distribución física, que
                        tiene como principal propósito ofrecer un servicio de calidad, atendiendo de manera eficiente,
                        tecnológica y oportuna los requerimientos del cliente, cuidando el medioambiente, la seguridad y
                        salud del personal, haciendo de esto una ventaja competitiva y diferenciadora".</strong></div>
                <div>
                    &nbsp;</div>
                <div>
                    Convencidos que trabajando en conjunto para mejorar continuamente nuestros servicios, dé como
                    resultado obtener una posición de liderazgo en el mercado, Blue Express, se compromete a:</div>
                <div>
                    &nbsp;</div>
                <div>
                    1. Satisfacer las necesidades de nuestros clientes mediante el cumplimiento de sus requerimientos y
                    expectativas, mejorando continuamente la prestación del servicio, buscando con esto fidelizar y ser
                    aliado estratégico para su negocio.</div>
                <div>
                    &nbsp;</div>
                <div>
                    2. Ejecutar las actividades asociadas a la prestación del servicio, identificando y controlando los
                    aspectos ambientales, tomando las medidas necesarias para eliminar y/o minimizar el potencial
                    impacto ambiental.</div>
                <div>
                    &nbsp;</div>
                <div>
                    3. Cumplir con la normativa legal y otros compromisos voluntariamente adquiridos, aplicables a la
                    calidad del servicio, el medio ambiente, la seguridad y salud ocupacional del personal.</div>
                <div>
                    &nbsp;</div>
                <div>
                    4. Proteger los bienes e instalaciones de nuestros clientes durante toda la prestación del servicio,
                    utilizando un modelo de operación logística integral, logrando tiempo, inversión y confianza,
                    manteniendo y protegiendo sus condiciones de distribución, mientras permanezcan bajo el control y
                    responsabilidad de Blue Express.</div>
                <div>
                    &nbsp;</div>
                <div>
                    5. Promover y mantener el compromiso, la participación y el desarrollo de todos los trabajadores, en
                    un ambiente constructivo y de transparencia basadas en la ética, integridad y honestidad, trabajando
                    con dedicación, rectitud, probidad, siendo consecuentes con los valores éticos de Blue Express.
                </div>
                <div>
                    &nbsp;</div>
                <div>
                    6. Velar por la seguridad y salud ocupacional del personal, proporcionando un ambiente seguro y
                    saludable que permita desarrollar las operaciones y funciones en igualdad de trato.</div>
                <div>
                    &nbsp;</div>
                <div>
                    7. Incrementar nuestro liderazgo en el rubro con un constante aumento de la cuota de mercado
                    nacional, mejorando las relaciones comerciales con nuestros clientes así como en todos nuestros
                    procesos operacionales de distribución.</div>
                <div>
                    &nbsp;</div>
                <div>
                    Para cumplir con este propósito, nos comprometemos a que esta Política sea conocida, difundida,
                    implementada y gestionada en el tiempo.</div>
            </div>
        </div>
    </div>
</div>